<div class=" container-fluid my-5 ">
    <div class="row justify-content-center ">
        <div class="col-xl-10">
            <div class="card shadow-lg ">
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <div class="card border-0" >
                            <div class="card-header pb-0">
                                <h2 class="card-title space">Paiement</h2>
                                <p class="card-text text-muted mt-4  space" class="d">Contact</p>
                                <hr class="my-0">
                            </div>
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-auto"><p><a href="mailto:Santefy@mail.com">Santefy@mail.com</a></p></div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col"><p class="text-muted mb-2" class="d">Détails de paiement</p><hr class="mt-0"></div>
                                </div>
                                <div class="form-group">
                                    <label for="NAME" class="small text-muted mb-1">Nom</label>
                                    <input type="text" class="form-control form-control-sm" name="NAME" id="NAME" aria-describedby="helpId" placeholder="Votre Nom">
                                </div>
                                <div class="form-group">
                                    <label for="NAME" class="small text-muted mb-1">Numéro de la carte bancaire</label>
                                    <input type="text" class="form-control form-control-sm" name="NAME" id="NAME" aria-describedby="helpId" placeholder="XXXX XXXX XXXX XXXX" [(ngModel)]="productservice.payment.numcarte">
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-sm-6 pr-sm-2">
                                        <div class="form-group">
                                            <label for="NAME" class="small text-muted mb-1">Validité</label>
                                            <input type="text" class="form-control form-control-sm" name="NAME" id="NAME" aria-describedby="helpId" placeholder="Exemple: 06/21" [(ngModel)]="productservice.payment.datecarte">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="NAME" class="small text-muted mb-1">Code Cvc</label>
                                            <input type="text" class="form-control form-control-sm" name="NAME" id="NAME" aria-describedby="helpId" placeholder="Exemple: 183" [(ngModel)]="productservice.payment.cvc">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-md-5">
                                    <div class="col" >
                                        <button type="button" name="payer" id="submit" class="btn  btn-lg btn-block" (click)="submit()">Payer</button>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card border-0 ">
                            <div class="card-header card-2">
                                <p class="card-text text-muted mt-md-4  mb-2 space" class="d">Votre Panier</p>
                                <hr class="my-2">
                            </div>
                            <div class="card-body pt-0">
                                <div class="row  justify-content-between" *ngFor="let product of cartProduct">
                                    <div class="col-auto col-md-7">
                                        <div class="media flex-column flex-sm-row">
                                            <img class="img-fluid" src="{{product.imageString}}" width="230" height="260">
                                            <div class="media-body  my-auto">
                                                <div class="row ">
                                                    <div class="col-auto nom"><p class="mb-0 nom"><b>{{product.nom}}</b></p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto  my-auto"> 
                                        
                                    <p class="boxed-1">{{product.qte}}</p>
                                    <button type="button" class="btn btn-outline-danger" (click)="deletefromcart(product.id)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                      </svg>
                                        <span class="visually-hidden">Button</span>
                                      </button>
                                </div>
                                    <div class=" pl-0 flex-sm-col col-auto  my-auto price">
                                        <p class="price"><b>{{product.prix}} Dt</b>
                                    </p>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="row ">
                                    <div class="col">
                                        <div class="row justify-content-between">
                                            <div class="col-4"><p class="total"><b>Total</b></p></div>
                                            <div class="flex-sm-col col-auto  total"><p   class="mb-1 total" ><b>{{total}} DT</b></p> </div>
                                        </div><hr class="my-0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>