@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
#panier:hover{
  background-color: #e63600;
}
body{
  background: #fefeff;
}
nav{
  background: #fefeff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
#image{
  margin: 3px;
  width:85px;
  height: 50px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color:#433e57;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: blue;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #fefeff;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
#logout,#admin,#fournisseur,#pharmacien{
  visibility: hidden;
  display: none;
  cursor: pointer;
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #433e57;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fefeff;
  font-size: 17px;
  background: blue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}
.toggle-button{
  display: none;
  position: absolute;
flex-direction: column;
  top:21px;
  right:4px;
  height: 25px;
  width:35px;
  justify-content: space-between;
}
.bar{
  height: 3px;
  width: 100%;
  background-color: #22a81f;
  border-radius: 23%;
} 
@media(max-width:560px){ 
  .toggle-button{
    display: flex;
  }
  .nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
.form{
margin-top: 5px;
margin-left: 10px;
}
  #image{
   
    position: absolute;
    top:5px;
    left: 0;
    
  }
  nav{
    margin-top: 5px;
    margin-bottom: 160px;
  }
}
.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}
 
.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}
 
.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}