<div class="container my-5 w-50" >
    <h1 id="title" class="mb-3">Modifier utilisateur</h1>
    <form (submit)="editUser()">
        <div class="mb-3">
            <label for="nom" class="form-label">Id</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="textid" readonly>
            </div>
    <div class="mb-3">
    <label for="nom" class="form-label">Nom</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="service.edituseradmin.Nom">
    </div>
    <div class="mb-3">
        <label for="nom" class="form-label">Prenom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="service.edituseradmin.Prenom">
        </div>
        <div class="mb-3">
            <label for="nom" class="form-label">Mail</label>
            <input type="text" class="form-control" id="mail"  name="mail" [(ngModel)]="service.edituseradmin.Email">
            </div>
        <div class="mb-3">
            <label for="nom" class="form-label">Date de naissance</label>
            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="service.edituseradmin.Date_naissance">
            </div>
            <div class="mb-3">
                <label for="nom" class="form-label">Sexe</label>
            <select class="form-control" name="sexe" id="sexe" name="sexe" [(ngModel)]="service.edituseradmin.Sexe">
                <option *ngFor="let s of Sexe" value="{{s.name}}">{{ s.name }}</option>
            </select>
                </div>
                <div class="mb-3">
                    <label for="nom" class="form-label">Tel</label>
                    <input type="text" class="form-control" id="tel" name="adresse" [(ngModel)]="service.edituseradmin.PhoneNumber">
                    </div>
                    <div class="mb-3">
                        <label for="nom" class="form-label">Adresse</label >
                        <input type="text" class="form-control" id="adresse" name="adresse" [(ngModel)]="service.edituseradmin.Adresse">
                        </div>
                        <div class="mb-3">
                            <label for="nom" class="form-label">Role</label>
                            <select class="form-control" name="role" id="role" [(ngModel)]="service.edituseradmin.Role">
                                <option *ngFor="let r of Role" value="{{r.type}}">{{ r.type }}</option>
                            </select>
                            </div>
                            <div class="mb-3" id="datefin">
                                <label for="date" class="form-label">Date Fin: </label>
                                <input type="date"  name="datefin" class="form-control" value="2030-01-18"  max="2100-01-01" [(ngModel)]="datefin">
                             </div>
    <button type="submit" class="btn btn-success">Enregistrer</button>
    <button type="button" (click)="deleteUser()" class="btn btn-danger">Supprimer</button>
    </form>
    </div>